*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-image: url(360_F_534871551_MOmx3mu3oP1TkmUW8ZDffLpHrv86LLrE.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.titleGame{
    text-align: center;
    width: 100%;
    height: 150px;
    padding: 20px;
    padding-top: 70px;
}
.scores-conteiner{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
}
.scoreboard{
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    
}
.score-info{
    padding-bottom: 40px;
}
.score-box{
    margin: 40px;
}
.sign{
    font-size: 80px;
  margin-bottom: 10px;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin: 30px;
    gap: 50px;
    font-size: 100px;
}
i{
    font-size: 100px;
}

button {
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    margin-top: 50px;
  }
  button:hover{
    color: grey;
  }
  .playAgain{
    width: 100%;
    text-align: center;
    margin-top: 80px;
  }
  input{
    font-size: 40px;
    background-color: black;
    color: white;
    padding: 20px;
    cursor: pointer;
  }